@model IEnumerable<web.Entitys.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>







<section class="content">
    <div class="row">
        <div class="col-xs-12">


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Kategori Listesi </h3>
                </div><!-- /.box-header -->

                <br />
                <a class="btn btn-primary btn-block" href="@Url.Action("Create")">Yeni Kayıt</a>
                <br />
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">


                        <thead>
                            <tr>
                                <th>Kategori Adı</th>
                                <th>Açıklam</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("Edit",new { id = item.Id })"><i class="fa fa-fw fa-edit"></i>Düzenle</a>
                                        <a class="btn btn-danger" href="@Url.Action("Delete",new { id = item.Id })"><i class="fa fa-fw fa-eraser"></i>Sil</a>
                                    </td>

                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Kategori Adı</th>
                                <th>Açıklama</th>
                                <th></th>

                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
