@model web.Entitys.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İmage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İmage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İsHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İsHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İsFeatured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İsFeatured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İsAproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İsAproved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
